footer {
  padding: 30px;
  display: inline-flex;
  background: rgb(233, 232, 232);
  width: 100%;
}

p {
  font-weight: bold;
  color: grey;
}

ul {
  display: inline-flex;
  margin-left: auto;
}

li {
  padding-left: 30px;
}