nav {
  display: inline-flex;
  align-items: center;
  padding: 20px 30px;
  width: 100%;
  background: #fff;
  div {
    margin-left: auto;
  }
}

h2 {
  font-size: 2em;
  font-style: italic;
  font-weight: 700;
  color: blue;
}

a {
  margin: 0 20px;
  &:hover {
    border-bottom: 2px solid rgb(66, 66, 66);
  }
}